# Banco de Dados
DATABASE_URL="postgresql://usuario:senha@localhost:5432/bahia_news"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="seu-secret-aqui"

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="seu-cloud-name"
CLOUDINARY_API_KEY="sua-api-key"
CLOUDINARY_API_SECRET="seu-api-secret"

# NewsAPI
NEWSAPI_KEY="sua-chave-do-newsapi"

# Admin (credenciais do primeiro acesso)
ADMIN_EMAIL="admin@bahianews.com.br"
ADMIN_PASSWORD="senha-segura-123"
